*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Google Json Web Token
*.json

# Keystore files
*.jks
*.keystore
*.p12
*.key

# Google Services
google-services.json

# Android Profiling
*.hprof
